@import url('https://fonts.cdnfonts.com/css/sf-pro-display');
html, body{
    font-family: 'SF Pro Display', sans-serif;
    margin: 0px;
    width: 100%;
    height: 100%;
}
h1{
    font-size: 110px;
    font-weight: 700;
    color: #000000;
    line-height: 105px;
}

p{
    font-size: 30px;
    font-weight: 400;
    color: #000000;
    line-height: 38px;
}
span{
    color: #04A5FF;
}

.navbar-brand img{
    margin-left: 195px;
}
.row-title{
    display: flex;
    align-content: center;
    justify-content: center;
    padding-top: 86px;
}

.row-block-main{
    display: flex;
}

.block-info{
    height: 407px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.btn-pos{
    padding-top: 30px;
}

.btn-pos button{ 
    background-color: #5072FE;
    height: 60px;
    width: 220px;
    --bs-border-radius-sm: 0.75rem;
}

.row-delimiter{
    display: flex;
}

.block-delimiter{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block-delimiter h1{
    font-size: 50px;
    padding-top: 86px;
}

.rectangle{
    height: 14px;
    width: 115px;
    background-color: #5072FE;
}

.row-bg-fact{
    display: flex;
    justify-content: center;
    padding-top: 86px;
}

.background-fact{
    width: 1530px;
    height: 609px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EFF5FD;
    border-radius: 31px;
}

/* Это ужас какой то */

.row-block-advantages{
    display: flex;
    height: 753px;
    padding-top: 86px;
}

.row-block-advantages-text{
    display: flex;
    align-items: end;
}

.block-advantages{
    height: 597px;
    width: 753px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

/* Это ужас какой то */

.row-bg-sample{
    display: flex;
    justify-content: center;
    padding-top: 172px; /* Из-за верхнего блока padding x2,*/
}

.sample-text{
    display: flex;
    justify-content: end; /* <--- Fix проблемы ниже, но почему? UPD работе мешает изменение Width у классов col-xl-5 и 7*/
}
.background-sample{
    width: 1530px;
    height: 609px;
    display: flex;
    justify-content: center; /* <--- Не работает */
    align-items: center;
    background-color: #EFF5FD;
    border-radius: 31px;
}

.row-title-end{
    display: flex;
    align-content: center;
    justify-content: center;
    padding-top: 86px;
}

.row-block-end{
    display: flex;
    align-items: start;
    padding-top: 86px;
}

.email-void{
    width: 589px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #EFF5FD;
    border-radius: 31px;
}

.email-form{
    display: flex;
    align-self: center;
}
.email-form input{
    width: 410px;
    height: 90px;
    border-radius: 15px;
    border: none;
    padding: 15px;
    font-size: 24px;
}
.btn-take{
    display: flex;
    align-self: center;
    padding-top: 20px;
}
.btn-take button{
    background-color: #5072FE;
    height: 70px;
    width: 410px;
    --bs-border-radius-sm: 0.75rem;
}

footer img{
    margin-left: 195px;
}