@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

html, body{
    font-family: 'SF Pro Display', sans-serif;
    margin: 0px;
    width: 100%;
    height: 100%;
}

h1{
    font-size: 110px;
    font-weight: 700;
    color: #000000;
    line-height: 1;
}

p{
    font-size: 30px;
    font-weight: 400;
    color: #000000;
    line-height: 1.2;
}

b{
    font-size: 35px;
    font-weight: 700;
}

span{
    color: #04A5FF;
}

img{
    width: 100%;
}

.padd{
    padding-top: 86px;
}

.padd-b{
    padding-bottom: 86px;
}

.padd-lg{
    padding-top: 290px;
}

.navbar-brand{
    margin-left: 195px;
}

.info-txt{
    display: flex;
    justify-content: end;
    flex-direction: column;
}

.info-txt b{
    font-size: 30px;
}

.btn-style button{ 
    width: 220px;
    height: 60px;
    background-color: #5072FE;
    --bs-border-radius-sm: 0.90rem;
}

.block-delimiter{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block-delimiter h1{
    font-size: 50px;
    line-height: 1;
}

.rectangle{
    height: 14px;
    width: 115px;
    background-color: #5072FE;
}

.bg-fc{
    margin: 0px auto;
    max-width: 1530px;
    background-color: #EFF5FD;
    border-radius: 31px;
}

.fc-txt{
    display: flex;
    align-items: center;
}


.fc-img{
    padding: 80px;
}

.AI-txt{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: end;
}

.bg-sample{
    margin: 0 auto;
    max-width: 1530px;
    background-color: #EFF5FD;
    border-radius: 31px;
}

.samp-txt{
    display: flex;
    align-items: center;
}

.email-void-pos{
    display: flex;
    align-items: center;
}

.email-void{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-evenly;
    max-width: 500px;
    height: 300px;
    background-color: #EFF5FD;
    border-radius: 24px;
}

.email-void input{
    width: 410px;
    height: 90px;
    border-radius: 15px;
    border: none;
    padding: 15px;
    font-size: 24px;
}

.email-void button{
    background-color: #5072FE;
    width: 410px;
    height: 70px;
    font-size: 16px;
    --bs-border-radius-sm: 0.75rem;
}